* {
    box-sizing: border-box;
}

:root {
    --Primary-color-black-green: #143c3c;
    --text-color-white: #fff;
    --Primary-color-black: #152427;
    --Scondery-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
}

html,
body {
    scroll-behavior: smooth;
    --webkit-scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Public Sans', 'sans-serif';
}

/* --------------Common-------------- */
.container {
    width: 1140px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    height: 57px;

    border-radius: 40px;
    background: var(--Primary-color-black-green);

    color: var(--text-color-white);
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
    padding: 14px 54px;

    cursor: pointer;
}

.btn:hover {
    background-color: orange;
    border: none;
}

.title--small {
    position: relative;
    margin-left: 46px;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

.title--small::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    left: -46px;
    top: 12px;
}

.title {
    position: relative;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.desc {
    color: var(--text-color-light-gray);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
}

.line-title::after {
    content: '';
    position: absolute;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    bottom: 20px;
    right: 100px;
}

/* ----------------- Header ------------------------ */
.header-content {
    padding-top: 28px;
}


.header-content .body {
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 13px;
}

.header-fixed {
    position: sticky;
    top: -13px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header-content .body::after {
    position: absolute;
    content: '';
    width: 1140px;
    height: 1px;
    bottom: 0;
    background: linear-gradient(90deg, #fff 0%, #dddcdc 51.09%, rgba(212, 212, 212, 0) 99.68%);
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 88px;
    gap: 8px;
}

.navbar__list li {
    position: relative;
}

.navbar__list li:hover a {
    color: var(--Primary-color-black);
}

.navbar__list li:hover a::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    bottom: -28px;
    left: 18px;
    background: var(--Primary-color-black-green);
    z-index: 1;
}

.navbar__list a {
    padding: 15px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

/* ------------------- Hero ------------------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 130px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    width: 368px;
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.hero__content--btn {
    display: flex;
    gap: 43px;
    margin-top: 42px;
}

.hero__watch {
    display: flex;
    position: relative;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.hero__watch--icon {
    position: absolute;
    left: -8px;
    top: -2px;
}

.hero__watch span {
    color: #152427;
    text-align: center;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero__media {
    margin-top: 118px;
}

.hero__media--img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
    transition: all 0.3s ease;
}

.hero__media--img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.hero__images {
    position: relative;
    display: flex;
    gap: 20px;
}

.hero__images--center {
    position: relative;
    margin-top: 77px;
    transition: all 0.3s ease;
    z-index: 1;
}

.hero__images--center::before {
    position: absolute;
    content: '';
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #83a17d;
    filter: blur(137px);
    top: 50px;
    left: -70px;
    z-index: -1;
}


.hero__line--top,
.hero__line--bottom,
.hero__flower {
    position: absolute;
}

.hero__line--top {
    top: -32px;
    left: -172px;
}

.hero__line--top:hover,
.hero__line--bottom:hover {
    z-index: -1;
}

.hero__flower--top {
    top: 0;
    left: -46px;
}

.hero__line--bottom {
    bottom: -70px;
    right: 55px;
    transform: rotate(175.95deg);
}

.hero__flower--bottom {
    left: -47px;
    top: 1px;
}

/* ----------------------- Clients ---------------------------- */
.clients {
    padding-bottom: 53px;
}

.clients__content {
    display: flex;
    width: 1140px;
    height: 201px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 100.5px;
    background: var(--Scondery-color-light-green);
}

.clients__content a {
    transition: all 0.3s ease;
}

.clients__content a:hover {
    transform: scale(1.2);
}

/* ----------------------- Service ---------------------------- */
.service {
    padding: 53px 0;
}

.service--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service__title {
    position: relative;
    margin-top: 12px;
    width: 520px;
    height: 104px;
}

.service__title::after {
    content: '';
    position: absolute;
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
    bottom: 20px;
    right: 100px;
}

.service__btn {
    display: flex;
    gap: 17px;
    margin-right: 76px;
}

.service__btn a:hover {
    opacity: 0.8;
}

.service__btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2eddf;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
}

.service__btn a:last-of-type {
    color: #fff;
    background-color: var(--Primary-color-black);
}

.service__course {
    display: flex;
    margin-top: 76px;
    justify-content: space-between;
}

.service__item {
    padding-bottom: 23px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.service__item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover .service__item__body {
    margin-left: 18px;
}

.service__item:hover img {
    transform: scale(1.1);
    border-radius: 20px;
}

.service__item__body {
    transition: margin-left 0.3s ease;
}

.serivce__images {
    width: 370px;
    height: 318px;
}

.serivce__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: all 0.3s ease;
}

.service__item__title {
    margin-top: 24px;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service__item__desc {
    margin-top: 18px;
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
}

/* ----------------------- About --------------------------- */
.about {
    padding: 95px 0 50px 0;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about--left {
    display: flex;
    position: relative;
    gap: 21px;
}

.about-left__flower,
.about-left__line {
    position: absolute;
}

.about-left__flower:hover,
.about-left__line:hover {
    z-index: -1;
}

.about-left__line {
    width: 541.69px;
    height: 360.639px;
    transform: rotate(12.645deg);
    top: 10px;
    right: 110px;
}

.about-left__flower {
    top: -40px;
    left: -65px;
    width: 72.033px;
    height: 72px;
    transform: rotate(168.985deg);
}

.about-left__img {
    display: block;
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
    transition: all 0.5s ease;
}

.about-left__img:hover {
    z-index: 1;
    transform: scale(1.1);

}

.about--left>img:nth-child(3) {
    margin-top: 77px;
}

.about-left__statistic {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-direction: column;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    z-index: 2;
}

.about-statistic__content {
    padding: 19px 17px 12px;
}

.about-statistic__title {
    color: var(--Primary-color-black);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.about-statistic__total {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    /* 140% */
    opacity: 0.4;
}

.about-statistic__percent {
    display: inline-block;
    margin-top: 10px;
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    /* 140% */
}

.about-statistic__progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-statistic__progress img {
    margin-left: -40px;
}

.about-statistic__progress img:first-of-type {
    margin-left: 0px;
    z-index: 1;
}

.about__title {
    margin-top: 20px;
    width: 483px;
}

.about__desc {
    margin-top: 11px;
    width: 478px;
}

.about-item {
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid #83a17d;
    padding: 20px 0;
    margin-top: 16px;
}

.about-item--percent {
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
    /* 123.81% */
}

.about-item__desc {
    font-size: 1.4rem;
    line-height: 1.71;
    /* 171.429% */
    width: 364px;
}

.about-statistic__status {
    display: block;
    text-align: right;
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    /* 140% */
}

.about-statistic__team {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.about-statistic__team span {
    color: var(--Primary-color-black);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-statistic__team img {
    margin-left: -12px;
}

.about-avatar:first-of-type {
    margin-left: 0px;
}

.about-avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* ------------------- Process ------------------------ */
.process {
    padding: 55px 0 50px 0;
}

.process h2 {
    width: 477px;
}

.process .line-title::after {
    right: -10px;
}

.process-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    height: 185px;
    position: relative;
}

.process-item:first-of-type {
    margin-top: 81px;
    border-radius: 33px;
    background: #e2eddf;
}

.process-item:nth-child(n + 4)::after {
    position: absolute;
    width: 1131px;
    height: 3px;
    content: '';
    background: linear-gradient(180deg, #83a17d 4.17%, rgba(131, 161, 125, 0) 36.46%);
    bottom: 21px;
}

.process-item__content {
    display: flex;
    align-items: center;
    gap: 47px;
}

.process-item:first-of-type .process-item__content {
    gap: 64px;
}

.process-number {
    margin-left: 30px;
    color: var(--Primary-color-black-green);
    font-family: Poppins;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 7.2;
}

.process-item__title {
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process-item__more {
    position: absolute;
    color: #575d5e;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    left: 190px;
    bottom: 40px;
    z-index: 1;
}

.process-item__more::after {
    position: absolute;
    content: '';
    width: 99px;
    height: 1px;
    background-color: #152427;
    bottom: -1px;
    left: 0;
    cursor: pointer;
}

.process-item__desc {
    width: 572px;
    color: var(--text-color-light-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    /* 155.556% */
}

.process-item__img {
    position: absolute;
    width: 450px;
    right: 92px;
    bottom: 0;
}

/* ------------------ Projetc -------------------- */
.project {
    margin: 98px 0 70px;
    padding: 116px 0 0 0;
    background: var(--Primary-color-black-green);
}

.project-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project .title {
    width: 457px;
    color: #e7f9f9;
}

.project .line-title::after {
    background: #83a17d;
}

.project .desc {
    color: #6a8383;
    font-family: 'Public Sans';
    font-size: 1.8rem;
    line-height: 1.55;
    width: 590px;
}

.project-top--right i {
    color: #80a07b;
    margin-left: 26px;
}

.project-link {
    display: inline-block;
    margin-top: 13px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project-video {
    position: relative;
    cursor: pointer;
}


.project-video #project-video {
    margin: 65px 0;
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.project-line {
    position: absolute;
    top: -100px;
    right: -50px;
}

.project-flower {
    position: absolute;
    top: -15px;
    right: -50px;
    transform: rotate(-10deg);
}

.project-playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
}

#project-video::-webkit-media-controls-play-button {
    display: none !important;
}

#project-video::-webkit-media-controls-pause-button {
    display: none !important;
}

/* ---------------------------------------------------- Feature --------------------------------------- */
.feature {
    padding: 70px 0 90px 0;
}

.feature .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.feature .title {
    width: 520px;
    text-align: center;
}

.feature .desc {
    margin-top: 20px;
    width: 547px;
    text-align: center;
}

.feature-bottom {
    display: flex;
    gap: 45px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.feature-item:hover {
    border: none;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.feature-item:not(:nth-child(2)) {
    margin-top: 59px;
}

.feature-item-title {
    margin-top: 26px;
    color: #152427;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    /* 100% */
}

.feature-item-desc {
    color: var(--text-color-light-gray, #7d8188);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    width: 286px;
}

/* ------------------- Blog ------------------------- */
.blog {
    padding: 90px 0 50px;
}

.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .title {
    width: 520px;
}

.blog .desc {
    width: 409px;
}

.blog .line-title::after {
    right: -35px;
}

.blog-bottom {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 90px;
}

.blog-item {
    position: relative;
    width: 33.33%;
    overflow: hidden;
    transition: all 0.5 ease;
}

.blog-item-img {
    width: 360px;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog-item:hover {
    border-radius: 40px 40px 20px 20px;
    background: var(--text-color-white, #FFF);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}



.blog-item-body {
    display: flex;
    flex-direction: column;
    height: 204px;
    transition: all 0.3s ease;
}

.blog-item:hover .blog-btn {
    align-self: first baseline;
    margin-left: 30px;
}

.blog-btn {
    margin-top: 26px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #E2EDDF;
    padding: 7px 33px;
    transition: all 0.3s ease;
}

.blog-btn:hover {
    color: #E2EDDF;
    background: #143C3C;
}

.blog-desc {
    margin-top: 13px;
    color: #143C3C;
    width: 250px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    transition: all 0.3s ease;
}

.blog-item:hover .blog-desc {
    margin-left: 30px;
}


.blog-item::after {
    position: absolute;
    content: "";
    border: 1px solid #C4C4C4;
    width: 100%;
    left: 0;
    bottom: 39px;
}


.blog-date {
    display: block;
    width: 100%;
    text-align: right;
    color: #575D5E;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 12px;
    padding-right: 33px;
}

.blog-item-img {
    transition: all 0.5s ease;

}

.blog-item-img:hover {
    transform: scale(1.1);
}

/* -----------------------------------------Footer -------------------------------------------*/
.footer {
    padding: 72px 0 95px;
    margin-top: 52px;
    background: #143C3C;
    position: relative;
}

.footer::before {
    position: absolute;
    content: "";
    width: 1140px;
    height: 1px;
    background: linear-gradient(90deg, #143C3C 2.28%, #295A5A 55.65%, rgba(38, 82, 82, 0.00) 102.06%);
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    color: var(--text-color-white, #FFF);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
}

.footer-input-form {
    display: inline-block;
    padding: 36px 0 25px;
    border-bottom: 2px solid #6A8383;
}

.footer-input {
    border: none;
    background: none;
    color: var(--Scondery-color-gray, #6A8383);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    outline: none;
}

.footer-input-form {
    display: inline-flex;
    align-items: flex-end;
}

.footer-link {
    display: flex;
    gap: 22px;
    margin-top: 47px;
}

.footer-x-link {
    border: 1px solid #265252;
    border-radius: 50%;
    padding: 12px;
}

.footer-right {
    display: flex;
    gap: 70px;
}

.footer-title-right {
    color: #FFF;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.footer-right li a {
    color: #6A8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer-right li a:hover {
    color: #FFF;
}